<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <properties>
    <property name = "fStations">logs/search.log</property>
    <property name = "fWrongStations">logs/input_errors.log</property>
    <property name = "fErrors">logs/exceptions.log</property>
  </properties>

  <appenders>
    <File name="SearchFile" fileName="${fStations}">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %msg%n"/>
      <MarkerFilter  marker="info" onMatch="ACCEPT" onMismatch="DENY"/>
    </File>
    <File name="WrongSearchFile" fileName="${fWrongStations}">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %msg%n"/>
      <MarkerFilter  marker="warn" onMatch="ACCEPT" onMismatch="DENY"/>
    </File>
    <File name="ErrorFile" fileName="${fErrors}">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level @line:%L %msg%n"/>
      <MarkerFilter  marker="error" onMatch="ACCEPT" onMismatch="DENY"/>
    </File>
  </appenders>

  <loggers>
    <root level="info" additivity="false">
      <appender-ref ref="SearchFile" level="info"/>
      <appender-ref ref="WrongSearchFile" level="warn" />
      <appender-ref ref="ErrorFile" level="error"/>
    </root>
  </loggers>
</configuration>
